<div class="wrapper">
	<div class="messages">
		<textarea cols="60" rows="30" class="texts cipher" ref-cipher (input)="CipherInput($event)" placeholder="Ciphertext here."></textarea>
		<div cols="60" rows="30" class="texts message" ref-message>
			
		</div>
	</div>
	<div class="mappings" ref-mappings>
		<div class="mappings-row mappings-cipher">
			<div class="map" *ngFor="let letter of alphabets.split('')" (click)="MarkConfirm(letter)">{{letter | uppercase}}</div>
		</div>
		<div class="mappings-row mappings-message">
			<input id="mapping-{{letter}}" *ngFor="let letter of alphabets.split('')" name="{{letter}}" class="mapping-letter" value="{{letter}}"
			(focus)="MappingSelect($event); $event.stopPropagation()" (keyup)="MapUpdate($event)" (blur)="MapUpdate($event)" />
		</div>
	</div>
	<div class="instruction">Click the UPPERCASE cipher letter to lock/unlcok its mapping.<br>Click the lowercase letter to change mapping.</div>
	<span style="color: white">Frequency table for reference:</span>
	<div class="hint" ref-hint></div>	
</div>