.wrapper {
	
	width: auto;
	margin: 0px 20%;
	max-width: 1200px;
	padding: 16px;
	background-color: rgba(120, 120, 120, 0.6);
}

.messages {
	display: flex;
	justify-content: space-around;
}
.cipher {
	color: white;
}
.cipher::placeholder {
	color: #EEE;
}
.message {
	color: #DDD;
}
.texts {
	background-color: rgba(255, 255, 255, 0.2);
	margin: 8px 4px;
	padding: 8px;

	width: 50%;
	font-size: 16px;
}

.instruction {
	margin: 20px 8px;
	color: #EEE;
}
.mappings {
	display: flex;
	flex-flow: column;
}
.mappings-row {
	display: flex;
	flex-flow: row;
	height: 25px;
}
.map {
	width: 30px;
	margin-left: 5px;
	text-align: center;
}
.mapping-letter {
	width: 30px;
	height: 20px;
	text-align: center;
	border: none;
	background-color: #DDD;
	border-radius: 3px;
	margin-left: 5px;
}
.hint {
	color: #DDD;
}